<div class="container-xxl">
   <div class="row">
    <div class="col">
        <div class="topContent">
        <h2>Java J2EE Full Stack Development with Angular
            Job Guaranteed Training</h2>
            <button type="button" class="btn btn-primary btn-lg btn-block btn-width">
            <span class="far fa-hand-point-right"></span> Click here for New Online Batches Schedule
              </button>
        </div>
    </div>
   </div>
   <div class="container detailInfo">
   <div class="row">
    <div class="col">
        <h5>This is an online and offline course designed for a 4 to 6-month duration. Java classes in pune cover end to end industry practices with this course. This course covers right from front end to Spring to Database complete infrastructure. Students will get exposure to microservices and all of the trending technologies.</h5>
    </div>
   </div>
</div>
<div class="container">
    <div class="row">
     <div class="col">
         <h5 class="WhyInfo"> Why you should opt for this course.</h5>
     </div>
    </div>
 </div>
 <div class="container detailswhy">
    <div class="row">
     <div class="col">
        <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Job Guaranteed
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> We train you till you get a job
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> We have strong placement Department
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> All Industry practices followed
          </div>
     </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
     <div class="col">
         <h5 class="WhyInfo"> Online Training Advantages</h5>
     </div>
    </div>
 </div>
 <div class="container detailswhy" style="padding-bottom: 50px;">
    <div class="row">
     <div class="col">
        <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Flexibility
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Comfort
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Saves Traveling Time and Cost
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Any time you can attend any session
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Any no of batches can be attended
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> You get personal attention from the trainer as problem-solving done one to one
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Understanding issues related to other students as we share screen that you can see
          </div>
          <div class="list-item" style="margin-left: 45px;">
            <i class="fas fa-circle width-circle"></i> Lifetime access to study material and tests.
          </div>
     </div>
    </div>
 </div>
 <div class="container upcoming-java">
    <div class="row">
        <div class="col">
            <div>
            <h4>Upcoming Java Training Dates</h4>
            </div>
        </div>
       </div>
 </div>
 <div class="container">
    <div class="row">
        <div class="col">
            <div>
            <h4>So are you ready to take up the Java courses? Wondering about the session dates and timing? Here we go!..</h4>
            </div>
        </div>
       </div>
 </div>
  </div>
