<header>
    <div class="header-container">
        <div class="logo">
            <img src="assets/logo.jpeg" alt="Website Logo">
            <h1>A3Soft Solutions</h1>
        </div>
        <nav>
            <ul>
                <li> <a routerLink="/home">Home</a></li>
                <li class="dropdown">
                    <h6>Courses &#9662;</h6>
                    <div class="dropdown-content">
                        <a  routerLink="/java">Java FullStack</a>
                        <a href="#course2">Course 2</a>
                        <a href="#course3">Course 3</a>
                    </div>
                </li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
