<header>
    <div class="header-container header">
        <div class="header-text">
           <img src="assets/A3Soft logo.jpeg">
        </div>
        <nav>
            <ul>
                <li> <a routerLink="/home">Home</a></li>
                <li class="dropdown">
                    <h6>Courses &#9662;</h6>
                    <div class="dropdown-content">
                        <a routerLink="/java">Java</a>
                        <a routerLink="/springBoot">Spring Boot</a>
                        <a routerLink="/angular">Angular</a>
                        <a routerLink="/react">React</a>
                    </div>
                </li>
                <li><a routerLink="/aboutus">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
